/* You can add global styles to this file, and also import other style files */
* {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}

.container {
   padding: 20px;
   background-color: rgb(169, 167, 167);
   min-width: 100vw;
   min-height: 100vh;
}