
.mfe-2-bg { 
   background-color: rgb(234, 11, 167) !important;
}

.page-container {
   padding: 24px;
   background-color: rgb(234, 11, 167);
   min-width: 100vw;
   min-height: 100vh;

   & .text {
      color: black;
   }

   & .button {
      border: 0;
      padding: 8px 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: all ease .6s;

      &:hover {
         filter: brightness(.9);
      }
   }

   & .flex {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-top: 20px;
   }
}