* {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}

.container {
   padding: 20px;
}

.card-container {
   border: 1px solid #dedede;
   border-radius: 16px;
   padding: 24px;
   background-color: rgb(11, 167, 234);

   & .text {
      color: black;
   }
}

.page-container {
   border: 1px solid #dedede;
   border-radius: 16px;
   padding: 24px;
   background-color: rgb(11, 167, 234);

   & .text {
      color: black;
   }

   & .button {
      border: 0;
      padding: 8px 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: all ease .6s;

      &:hover {
         filter: brightness(.9);
      }
   }

   & .flex {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-top: 20px;
   }
}