.card-container {
   border: 1px solid #dedede;
   border-radius: 16px;
   padding: 24px;

   & .text {
      color: black;
   }
}

.mini-shell-angular-bg { 
   background-color: rgb(10, 206, 56) !important;
}

.padding {
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   gap: 20px;
}